/*  DESIGNED FOR iPhone 6: 750 x 1334 */

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(to bottom, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100% );
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

/*  Greeting Header */
h1 {
  font-family: 'Pacifico';
  text-align: center;
  font-size: 50px;
  padding-bottom: 3%;
  height: 10%;
  margin: 0;
}

/* Name in info box */
li {
  list-style: none;
  margin-top: 1%;
  text-align: center;
}

/* container for all stats and info box */
.user-personal-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
  height: 90%;
}

/* Personal Information*/

.personal-info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 80%;
}

/*Date form*/

.select-date {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  width: 80%;
}
.submit-button {
  background: rgba(10, 167, 137, 1);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border-style: none;
  font-weight: bold;
}

 /* Statistic boxes */

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  background: white;
  border: 1px solid black;
  width: 80%;
  height: 30%;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-left: 3%;
  height: 40%;
  width: 30%;
}

.circle {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background: rgba(46, 155, 240, 1);
  border-radius: 100%;
  width: 75%;
  height: 100%;
}

.stat-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15%;
  text-align: left;
  margin: 0px;
  height: 30%;
  width: 100%;
}

.moon {
  background-color: rgba(84, 93, 186, 1);
}

.activity {
  background-color: rgba(10, 167, 137, 1);
}

/*Graph*/

.graph {
  border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  width: 80%;
}

/*Media Query*/
@media screen and (min-width: 768px) {

  html {
    overflow: none;
  }

  h1 {
    padding-top: 0;
    padding-bottom: 0%;
  }

  .stats {
    flex-direction: row;
    justify-content: space-evenly;
    height: 25%;
  }

  .rectangle {
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 5%;
  }

  .circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 5%;
    height: 40%;
    width: 40%;
  }

  .select-date {
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
  }

  .stat-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0%;
    margin: 0%;
  }

  .graph {
    width: 50%;
  }
};
