
html {
  height: 100%;
  width: 100%;
  overflow : scroll;
}
body {

  background: rgb(238, 174, 202);
  background: linear-gradient(to bottom, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100% );
  display: flex;
  flex-direction: column;
  align-items: stretch;


  height: 100%;
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  text-align: left;

}

/* .image {
  width: 100%
  height: 100px;
  justify-content: left;
} */
/*  Greeting Header */
h1 {
  /* border: 2px solid blue; */
  text-align: center;
  font-size: 50px;
  height: 20%;
}

/* Name in info box */
h2 {
  /* border: 2px solid pink; */
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

/* All text sizes */
.text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 5px;
}

/* container for all stats and info box */
.user-personal-stats {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
  height: 70%;
}
.stats {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-around;


  width: 100%;
  height: 100%;
}

.personal-info {
  display: flex;
  border: 1px solid black;
  background-color: white;
  flex-direction: column;
  border-radius: 25px;
  padding-bottom: 10%;
  margin-bottom: 10%;
  width: 75%;
  height: 30%;
}

/* .quarter {
  background: rgb(250, 199, 17);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 100%;
  width: 200px;
  height: 200px;
  position: right;
} */






li {
  /* border: 2px solid purple; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  list-style: none;
  margin-top: 5px;
  text-align: center;
}

/* .hydration {
  border: 2px solid black;
  background-color: white;
  margin-bottom: 20%;
  width: 100%;

}

.sleep {
  border: 2px solid black;
  background-color: white;
} */

.graph {
  border: 2px solid black;
  background-color: white;
  border-radius: 25px;
}
.rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background: white;
  border: 1px solid black;

  width: 25%;
  height: 100%;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  height: 40%;
  /* border: 2px solid pink; */
}

.circle {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background: rgba(46, 155, 240, 1);
  border-radius: 100%;

  width: 75%;
  height: 100%;
}

.stat-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  padding-left: 10px;
  padding-right: 10%;
  margin: 0px;
  height: 60%;
}
.moon {
  background-color: rgba(84, 93, 186, 1)
}

.activity {
  background-color: rgba(10, 167, 137, 1);
}
