/*  DESIGNED FOR iPhone 6: 750 x 1334 */

html {
  height: 100%;
  /* overflow : scroll; */
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(to bottom, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100% );
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

/*  Greeting Header */
h1 {
  font-family: 'Pacifico';
  text-align: center;
  font-size: 50px;
  padding-bottom: 5%;
  height: 10%;
  margin: 0;
}

/* Name in info box */
li {
  /* border: 2px solid purple; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  list-style: none;
  margin-top: 5px;
  padding-top:10px;
  text-align: center;
}

/* container for all stats and info box */
.user-personal-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
  height: 90%;
}

/* Personal Information*/
.personal-info {
  display: flex;
  border: 1px solid black;
  background-color: white;
  flex-direction: column;
  border-radius: 25px;
  padding-bottom: 5%;

  width: 80%;
  height: 10%;
}

/*Date form*/
.select-date {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  width: 80%;
}
.submit-button {
  background: rgba(10, 167, 137, 1);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border-style: none;
  font-weight: bold;
}
 /* Statistic boxes */
.stats {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  background: white;
  border: 1px solid black;
  width: 80%;
  height: 30%;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  height: 40%;
  width: 30%;

}

.circle {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background: rgba(46, 155, 240, 1);
  border-radius: 100%;
  width: 75%;
  height: 100%;
}

.stat-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15%;
  text-align: left;

  /* padding-right: 2%;
  padding-top: 10%; */
  margin: 0px;
  height: 30%;
  width: 100%;
}
.moon {
  background-color: rgba(84, 93, 186, 1)
}

.activity {
  background-color: rgba(10, 167, 137, 1);
}

/*Graph*/



.graph {

  width: 100%;
  margin-bottom: 10%;
  padding-top: 5%;
  border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  width: 80%;

}



@media screen and (max-width: 768px){
/*Should have nothing designed for mobile*/






   }
@media screen and (min-width: 768px){
  html {
    overflow: none;
  }
  /* .big-container{
    display: flex;
    justify-content: space-around;
  } */
  .personal-info {
    display: flex;
    border: 1px solid black;
    background-color: white;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 5%;

    width: 80%;
    height: 3%;
  }

  .stats {
    /* border: 5px solid blue; */
    flex-direction: row;
    justify-content: space-evenly;
    height: 25%;

  }

  .rectangle {
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 5%;
  }
  .circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    height: 40%;
    width: 40%;

  }

  .stat-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 3%;

    /* border: 2px solid black; */




  }

  .graph {
    margin-top: 5%;
    width: 60%;
    height: 40%
  }

  .container {
    height: 40%;
  }
};
